* {
  box-sizing: border-box;
}

a {
  color: @link-color;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

// Horizontal lines
// --------------------------------------------------

hr,
.rule {
  height: 0;
  margin: @gutter 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  .border-bottom;
}

//
// Remove most spacing between table cells.
//

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}


// Headings
// --------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: @gutter;
  font-weight: bold;
  line-height: 1.4;
  .border-bottom;
}
h1.tag {
  font-size: 50%;
  font-weight: normal;
  color: #666;
}
