.main-container {
  article {
    p {
      margin-top: 0;
      margin-bottom: @gutter;
      line-height: 1.6;
    }
    ul, ol {
      margin-bottom: @gutter;
      list-style-type: disc;
      
      li {
        line-height: 1.6;
        
        > p:first-of-type {
          display: inline;
        }
      }
    }
    small {
      font-size: 90%;
    }
    code {
      .border-radius;
      background: @border-color;
      font-size: .9em;
      color: @code-color;
    }
    pre code {
      background: none;
    }
    .title {
      .type {
        font-weight: normal;
        color: #666;
        font-size: 50%;
      }
    }
    .signature {
      padding-left: @gutter;
      padding-right: @gutter;
      margin-bottom: @gutter;
      border: 1px solid @border-color;
      
      .signature-title {
        background: lighten(@border-color, 5%);
        margin-top: 0;
        margin-left: -@gutter;
        margin-right: -@gutter;
        padding-left: @gutter/2;
        
        code {
          font-weight: bold;
          .font-smoothing;
          color: darken(@code-color,10%);
          padding: 0;
          background: none;
        }
      }
    }
    .parameters, .options, .returns {
      padding: 0 @gutter;
    }
    .parameters {
      > ol {
        margin: 0 0 1.5em;
        padding: 0;
        counter-reset: item;
        
        > li {
          margin: 0;
          padding: 0 0 0 2em;
          list-style-type: none;
          counter-increment: item;
          margin-left: -@gutter*2;
          margin-bottom: @gutter;
          
          &:before {
            display: inline-block;
            width: 1em;
            padding-right: 0.5em;
            font-weight: bold;
            text-align: right;
            content: counter(item) ".";
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .deprecated.warning {
      padding: @gutter;
      border: 1px solid @warning-color;
      margin-bottom: @gutter;
      padding-bottom: 0;
      
      h3 {
        margin: 0;
        margin-bottom: @gutter;
        color: @warning-color;
      }
    }
  } // article
} //.main-container

.on-this-page {
  padding: 0;
  border: 1px solid darken(@border-color, 10%);
  background: #fff;
  font-size: 1.5em;
  font-weight: 700;

  li {  
    list-style: none;
    list-style-type: none;
  
    a {
      display: block;
      padding: 5px 10px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      
      &:hover {
        border-top: 1px solid @border-color;
        border-bottom: 1px solid @border-color;
      }
    }
    
    &:first-child a, &:first-child a:hover {
      border-top: none;
    }
    &:last-child a, &:last-child a:hover {
      border-bottom: none;
    }
  }
  h3 {
    margin: 0;
    padding: 5px 10px;
    line-height: 1.5;
  }
  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    margin-top: -1px;
    left: auto;
    
    li {
      display: none;
      
      &.active {
        display: block;
      }
    }
    
    &.open {
      li {
        display: block;
      }
    }

  }
} //.on-this-page