// ---------- BOTTOM RIGHT SCROLLABLE CONTENT ----------
article {
  margin-top: 0px;
  p {
    margin-top: 0;
    margin-bottom: @gutter;
    line-height: 1.6;
  }
  ul, ol {
    margin-bottom: @gutter;
    list-style-type: disc;
    li {
      line-height: 1.6;
      > p:first-of-type {
        display: inline;
      }
    }
  }
  small {
    font-size: 90%;
  }
  code {
    .border-radius;
    background: @border-color;
    font-size: .9em;
  }
  pre code {
    background: none;
  }
  .title {
    .type {
      font-weight: normal;
      color: #666;
      font-size: 50%;
    }
  }
  .signature {
    padding: @gutter*2;
    margin-bottom: @gutter*2;
    .border-bottom;
    .border-top;
    border-left: 5px solid @link-color;
    .signature-title {
      margin-top: 0;
      border-bottom: 0;
      code {
        font-weight: bold;
        .font-smoothing;
        color: darken(@code-color,10%);
        padding: 0;
        background: none;
      }
    }
  }
  .parameters, .options, .returns {
    padding: 0 @gutter;
    .parameters-title, .options-title, .returns-title {
      border: none;
    }
  }
  .parameters {
    > ol {
      margin: 0 0 1.5em;
      padding: 0;
      counter-reset: item;
      > li {
        margin: 0;
        padding: 0 0 0 2em;
        list-style-type: none;
        counter-increment: item;
        margin-left: -@gutter*2;
        margin-bottom: @gutter;
        &:before {
          display: inline-block;
          width: 1em;
          padding-right: 0.5em;
          font-weight: bold;
          text-align: right;
          content: counter(item) ".";
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .deprecated.warning {
    padding: @gutter;
    border: 1px solid @warning-color;
    margin-bottom: @gutter;
    padding-bottom: 0;
    h3 {
      margin: 0;
      margin-bottom: @gutter;
      color: @warning-color;
    }
  }
}
// ---------- BOTTOM RIGHT SCROLLABLE CONTENT ----------
// ---------- NPM AND GITHUB START NEXT TO TITLE ----------
ul.title-social{
  float: right;
  margin-top: -60px;
  line-height: 1.6;
  margin-bottom: @gutter;
  list-style-type: disc;
  display: none;
  @media screen and (min-width: @breakpoint) {
    display: unset;
    }
  li{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    iframe {
      top: 1px;
      position: relative;
      margin-left: 5px;
    }
  }
  code {
    background: white;
    border: 1px solid @gray;
    color: @code-color;
    font-size: 14px;
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: top; 
    @media screen and (min-width: @breakpoint) {
      margin-left: @gutter;
    }
  }
}
// ---------- NPM AND GITHUB START NEXT TO TITLE ----------

