.main-container {
  article {
    width: 100%;
    margin-top: 0px;
    @media screen and (min-width: @breakpoint) {
      margin-top: 98px;
    //   min-height: 100%;
    // max-height: 100%;
    // overflow: scroll;
    }
    p {
      margin-top: 0;
      margin-bottom: @gutter;
      line-height: 1.6;
    }
    ul, ol {
      margin-bottom: @gutter;
      list-style-type: disc;
      li {
        line-height: 1.6;
        > p:first-of-type {
          display: inline;
        }
      }
    }
    small {
      font-size: 90%;
    }
    code {
      .border-radius;
      background: @border-color;
      font-size: .9em;
    }
    pre code {
      background: none;
    }
    .title {
      .type {
        font-weight: normal;
        color: #666;
        font-size: 50%;
      }
    }
    .signature {
      padding: @gutter*2;
      margin-bottom: @gutter*2;
      .border-bottom;
      .border-top;
      border-left: 5px solid @link-color;
      .signature-title {
        margin-top: 0;
        border-bottom: 0;
        code {
          font-weight: bold;
          .font-smoothing;
          color: darken(@code-color,10%);
          padding: 0;
          background: none;
        }
      }
    }
    .parameters, .options, .returns {
      padding: 0 @gutter;
      .parameters-title, .options-title, .returns-title {
        border: none;
      }
    }
    .parameters {
      > ol {
        margin: 0 0 1.5em;
        padding: 0;
        counter-reset: item;
        > li {
          margin: 0;
          padding: 0 0 0 2em;
          list-style-type: none;
          counter-increment: item;
          margin-left: -@gutter*2;
          margin-bottom: @gutter;
          &:before {
            display: inline-block;
            width: 1em;
            padding-right: 0.5em;
            font-weight: bold;
            text-align: right;
            content: counter(item) ".";
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .deprecated.warning {
      padding: @gutter;
      border: 1px solid @warning-color;
      margin-bottom: @gutter;
      padding-bottom: 0;

      h3 {
        margin: 0;
        margin-bottom: @gutter;
        color: @warning-color;
      }
    }
  } // article
} //.main-container

.on-this-page {
  width: auto;
  padding: @gutter;
  font-size: 12px;
  margin-top:@gutter/2;
  margin-bottom: @gutter !important;
  .border;
  border-top: none;
  background: #fbfbfb;
  list-style: none;
  line-height: 1.5em;

  @media screen and (min-width: @breakpoint) {
    .border-top;
    position: absolute;
    display:none;
    top:99px;
    left: 330px;
    .border-radius;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    z-index: 15;
    cursor: pointer;

    &::before {
      content: '';  
      width:10px;
      height: 10px;  
      background: #fbfbfb;
      position: absolute;
      .border-right;
      .border-top;
      top:-6px;
      left: @gutter;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      z-index: 16;
    }
  }
}
.breadcrumb{
  display: none;
  @media screen and (min-width: @breakpoint) {
    display: unset;
    padding: @gutter;
    .border-bottom;
    color: @border-color;
    position: fixed;
    margin-top:60px;
    background: white;
    width: 100%;

    cursor: pointer;
    z-index: 21;
  }
   &::after {
      content: '\2329';    
      padding-bottom: 0px;
      padding-right: @gutter/2;
      margin-bottom: 0px;
      color: lighten(@text-color, 20%);
      display: inline-block;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  a{
    padding: 0 @gutter;
  }
}

.breadcrumb:hover + .on-this-page{
  display: block;
}

section.body{
  padding: @gutter*2;
  .border-top;
  .border-bottom;
}

