// demo

// Styles the wrapper of the sidebar and content of the docs.
.container{
  display: table;
  table-layout: fixed;
  padding-top: 30px;
}
.container> * {
  display: table-cell !important;
  vertical-align: top;
}

.demo {
  border: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: @border;
  padding-bottom: 15px;

  ul {
    list-style: none;
    padding: 0;
    border-bottom: @border;
    padding-left: 10px;
  }
  li.tab {
    display: inline-block;
    padding: 10px 15px;
    color: @rain;
    cursor: pointer;
    border: solid 1px transparent;
    margin-bottom: -1px;
    margin-left: 5px;
  }
  li.tab.active {
    font-weight: bold;
    border: @border;
    border-bottom: solid 1px #ffffff;
    color: @darkSkies;
    background-color: white;

  }
  div.tab-content {
    clear: both;
  }
  iframe {
    background-color: @clear;
    width: 100%;
    border-radius: 0;
    border: none;
    margin-bottom: 0px;
  }
  pre {
    margin-bottom: 0px;
  }
  body.style-demo {
    background-color: @clear;
    padding: 10px;
  }
}
  .demo_wrapper {
    margin-bottom: 20px;
  }
#low {
  .container;
  font-size: 12px;
  margin-bottom: 15px;
}
.api {
  .group_0 {
    margin-bottom: 40px;
  }
}
.iframe_wrapper {
  border-bottom: @border;
  padding-bottom: 10px;
  margin-bottom: 20px;
  
  iframe {
    background-color: @clear;
    width: 100%;
    border-radius: 0;
    border: none;
    margin-bottom: 0px;
  }
}
