.top-right-top {
    .flex;
    flex-shrink: 0;
    height: @brand-height;
    justify-content: space-between;
    .search-section li {
        list-style: none;
    }
}
.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 @gutter*2;
    @media screen and (max-width: 499px){
        padding: 0 @gutter;
    }
    background-color: #FFFFFF;
    z-index: 1;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}
.brand {
    display: flex;
    white-space: nowrap;
    align-items: center;
    .dropdown {
        display:none;
    }
    .logo {
        display: flex;
        align-items: center;
        width: 60px;
        height: @brand-height;
        cursor: pointer;
        &:hover > a {
            opacity: .7;
        }
        > a {
            display: block;
            height: 23px;
            width: 100%;
            cursor: pointer;
            background-image: url(img/canjs_logo.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .version {
        display: none;
    }
}

// ----- CANJS LOGO AND VERSION DESKTOP -----
@media screen and (min-width: @breakpoint) {
    .brand {
        .dropdown {
            position: absolute;
            top: 52px;
            z-index: 91;
            background-color: white;
            border: 1px solid #ccc;
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }

        .logo {
            margin: 0 @gutter 0 0;

            &:hover .dropdown {
                display: block;
            }
            .project-dropdown {
                left: 20px;
                width: 180px;
            }
            .project-dropdown a {
                color: black;
                font-size: 14px;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                &:hover {
                    background-color: @light-gray-color;
                }
            }
        }
        .version {
            display: flex;
            align-items: center;
            font-size: 12px;
            height: @brand-height;
            padding-top: 7px;
            cursor: pointer;
            .version-number::after {
                display: inline-block;
                width: 15px;
                height: 15px;
                vertical-align: bottom;
                content: '';
                background-image: url(img/down_black.svg);
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:hover > a {
                opacity: .7;
            }
            &:hover .dropdown {
                display: block;
            }
            .version-dropdown {
                left: 100px;
                width: 100px;
            }
            .version-dropdown a {
                color: black;
                padding: 5px 10px;
                text-decoration: none;
                display: block;
                &:hover {
                    background-color: @light-gray-color;
                }
            }
        }
    }
}

// ----- CHAT, FORUM, GITHUB STAR, TWITTER -----
.top-right-links {
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
    > li {
        display: none;
    }
    @media screen and (min-width: @breakpoint){
        .flex;
        list-style: none;
        margin: auto auto auto @gutter*2;
        > li {
            .flex;
            > a {
                color: @gray;
                position: relative;
                text-decoration: none;
                padding: 20px 10px @gutter;
                margin: 0 10px;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 20px;
                    left: 0px;
                    width: 100%;
                    height: 4px;
                    background-color: #CCCCCC;
                    opacity: 0;
                    z-index: -1;
                    transition: all 0.4s ease-in-out;
                }
                &:hover:before {
                    bottom: 8px;
                    opacity: 1;
                }
            }
            &.current {
                > a {
                    color: @link-color;
                }
                > a:before {
                    bottom: 8px;
                    opacity: 1;
                    background-color: @link-color;
                    cursor: default;
                }
            }
        }
    }
}
// ----- BITOVI BITS DROPDOWN -----
.top-right-bitovi {
    .flex;
    @media screen and (max-width: 399px){
        display: none;
    }
    padding: 8px 5px 10px;
    margin: 0 0 0 @gutter;
    list-style: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    .dropdown {
        display: flex;
        position: relative;
        width: 85px;
        height: 35px;
        .dropdown-menu {
            display: none;
        }
        .bitovi.by-bitovi {
            width: 100%;
            height: 100%;
            background: url(img/by-bitovi-logo.svg) no-repeat;
            background-position: center;
            background-size: contain;
            color: rgba(0, 0, 0, 0);
        }
    }
    &:hover {
        background: @border-color;
        .dropdown-menu {
            display: block;
            z-index:99;
            position: absolute;
            background: white;
            .border;
            border-top: none;
            right: -5px;
            top: @gutter*3;
            list-style: none;
            padding: 0;
            width: 240px;
            .box-shadow;
            > li {
                font-weight: 400;
                > a {
                    display: block;
                    padding: @gutter/3 @gutter;
                    .border-top;
                    white-space: nowrap;
                    font-size: 14px;
                    line-height: 32px;
                    color: @gray;
                    text-decoration: none;
                    &:hover {
                        background: @border-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
