.brand {
  width: 58px;
  height: 23px;
  margin: @gutter @gutter*2;
  background: white;
  white-space: nowrap;
    overflow: hidden;
    background-image: url(img/canjs_logo.svg);
    background-size: cover;
    align-self: flex-start;
  a { 
    display: none;
  }
  @media screen and (min-width: @breakpoint){
    
    a{
      opacity: 0;
      font-size: 1.5em;
    }
  }
}
.top-right-links {
  display: none;
  @media screen and (min-width: @breakpoint){
    display: flex;
    .flex;
    list-style: none;
    margin: @gutter @gutter*2;
    height: 23px; /* Keeps flashing twitter stuff from breaking height */
    padding: 0;
    flex-basis: 100%;
    align-self: flex-start;
    > li {
      font-size: 14px;
      margin-right: @gutter;
      > a {
        font-weight: 700;
        font-size: 12px;
        padding: 2px 10px;
        line-height: 20px;
        .border-radius;
        .border;
        &:hover {
          text-decoration: none;
          background: @border-color;
        }
      }
    }
  }
}
.top-right-bitovi {
  .flex;
  padding: 0;
  margin: 0;
  list-style: none;
  left: 0;
  padding-bottom: 17px;
  @media screen and (min-width: @breakpoint){
    padding-bottom: 0;
  }
  &:hover {
    background: @border-color;
  }
  .bitovi.icon-bits {
    margin-top: 0px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 30px;
    width: auto;
    background: url(img/bitovi_bits.svg) no-repeat;
    background-position: center;
    height: auto;
    color: rgba(0, 0, 0, 0);
    background-size: 41px auto;
  }
  .dropdown {
    position: relative;
    padding-top: 18px;
    .dropdown-menu {
      display: none;
      position: absolute;
      background: white;
      .border;
      border-top: none;
      right: 0;
      top: 53px;
      list-style: none;
      padding: 0;
      list-style: none;
      width: 240px;
      .box-shadow;
      > li {
        font-weight: 400;
         > a {
          display: block;
          padding: @gutter/3 @gutter;
          .border-top;
          white-space: nowrap;
          font-size: 14px;
          line-height: 32px;
          color: @gray;
          text-decoration: none;
          &:hover {
            background: @border-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.top-right-bitovi {
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}
.breadcrumb{
  display: none;
  @media screen and (min-width: @breakpoint){
    display: block;
    padding-left: @gutter*2;
    color: white;
    background: @code-color;
    cursor: pointer;
    color: lighten(@gray, 10%);
    .breadcrumb-dropdown{
      padding: @gutter @gutter/4;
      &::after {
        content: '\2329';
        padding-bottom: 0px;
        padding-right: @gutter/4;
        margin-bottom: 0px;
        display: inline-block;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        font-size: 0.7em;
        color: white;
      }
    }
    li{
      display: inline-block;
      list-style: none;
      color: @link-color;
      padding-left: @gutter/4;
      padding-right: @gutter/4;
      a{
        color: white;
        font-size: 14px;
        code{
          background: none;
          line-height: 14px;
        }
      }
    }
  }
}
.description{
  margin-left: @gutter*2;
  margin-bottom: @gutter*2;
  margin-right: @gutter*2;
}
.body{
  margin: @gutter*2;
}
.breadcrumb-dropdown {
  position: relative;
  &:hover {
    .on-this-page {
      display: flex;
      li{
        flex-grow: 1;
        flex-basis: auto;
      }
    }
  }
}
.on-this-page {
  width: 100%;
  font-size: 14px;
  margin-top:@gutter/2;
  margin-bottom: @gutter !important;
  background: #fbfbfb;
  list-style: none;
  line-height: 1.5em;
  a {
    color: @link-color !important;
  }
  @media screen and (min-width: @breakpoint) {
    padding: @gutter;
    margin: 0;
    position: fixed;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    z-index: 15;
    cursor: pointer;
    display: none;
    margin-top: 15px;
    width: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    li{
      padding: 0px;
      margin: 0px;
      code{
        background: none;
        font-weight: 600;
        padding: 0;
      }
      a{
        width: auto;
        padding: 0px;
        margin: 0px;
      }
    }
    li:hover{
      text-decoration: underline;
    }
    li .current{
      text-decoration: underline;
      font-weight: bold;
    }
    &::before {
      content: '';
      width:10px;
      height: 10px;
      background: #fbfbfb;
      position: absolute;
      top:-4px;
      left: @gutter;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      z-index: 16;
    }
  }
}
.on-this-page:empty{
  visibility: hidden;
}
.top-right-top{
  display: inline-flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  @media screen and (min-width: @breakpoint){
    
  }
}
// -- Mobile Menu Menu
.nav-trigger {
  position: fixed;
  clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
  position: fixed;
  top: 9px;
  left: @gutter*2;
  z-index: 12;
  font-family: Lato, sans-serif;
  border: 1px solid @border-color;
  padding: 10px;
  background: #fff;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
  .border-radius;
  z-index: 99;
}



label:hover{
  background: @border-color;
}
.nav-trigger:checked + label{
    left: 280px;
}
.nav-trigger:checked ~ #everything #right {
  flex-shrink: 0;
  display: block;
  position: fixed;
  left: 250px;
  overflow-x: hidden;
  z-index: 50;
}

.nav-trigger + label {
    transition: left .75s;
}

@media screen and (min-width: @breakpoint) {
  
  .nav-trigger, label[for="nav-trigger"] {
    display: none;
  }
}
li.header-desktop{
  display: none;
  @media screen and (min-width: @breakpoint){
    display: unset;
  }
}

#right{
  -webkit-transition: left .75s; /* Safari */
  -moz-transition: left .75s;
  -o-transition: left .75s;
  transition: left .75s;
}

.top-right-top{
  .brand{
    display: inline-flex;
    margin-left: 100px;
    @media screen and (min-width: @breakpoint){
      display: none;
    }
  }
}

#everything #right{

}

