#left {
  position: fixed;
  float: left;
  width: @sidebar-width;
  height: 100%;
  background-color: @light-gray-color;
  margin-top: @brand-height;
  padding-bottom: @gutter*2;
  z-index: 51;
  overflow-y: auto;
}
#right {
  position: relative;
  float: right;
  width: ~"calc(100% - " @sidebar-width ~")";
  margin-top: @brand-height;
  z-index: 1;
}
@media screen and (max-width: @breakpoint){
  #right {
    width: 100%;
  }
}
