.main-container {
  margin: 0 @gutter*2;
  .flex;
  flex-direction: column;
}
.sidebar {
  margin-right: @gutter*2;
}

@media screen and (min-width: @breakpoint) {
  
  .main-container {
    flex-direction: row;
    flex-wrap: nowrap;
    
    article {
      flex: 1;
    }
  }
}