#everything {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  box-sizing: border-box;
  height: 100%;
}
#left {
  position: fixed;
  width: 250px;
  z-index: 1;
  @media screen and (min-width: @breakpoint){
    flex-shrink: 0;
    padding: 0px;
    position: relative;
    width: auto;
  }
}
#right {
  min-height: 100%;
  max-height: 100%;
  // flex-grow: 1;
  z-index: 10;
  background: white;


   // flex-shrink: 0;
  display: block;
  // position: fixed;
  left: 250px;
  overflow-x: hidden;
  z-index: 50;



  .box-shadow;

  @media screen and (min-width: @breakpoint){
    box-shadow: none;
  }

}
.column {
  height: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
}
.top-left {
  flex-shrink: 0;
  height: 0;
  @media screen and (min-width: @breakpoint){
    height: auto;
  }
}
.top-right {
  flex-shrink: 0;
  flex-wrap: nowrap;
  height: auto;
  .border-bottom;
  @media screen and (min-width: @breakpoint){
    border: none;
  }
}
.bottom-left {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: @gutter*2;
  padding-bottom: 0;
  background: white;
}
.bottom-right {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}