.border-bottom {
  border-bottom: 1px solid @border-color;
}
.border-top {
  border-top: 1px solid @border-color;
}
.border-left {
  border-left: 1px solid @border-color;
}
.border-right {
  border-right: 1px solid @border-color;
}
.border {
  border: 1px solid @border-color;
}
.flex {  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.border-radius (@radius: 2px) {
  border-radius: @radius;
}
.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.box-shadow (@horizontal: 3px, @vertical: 3px, @blur: 10px, @color: rgba(0,0,0,.3)) {
  box-shadow: @horizontal @vertical @blur @color;
}
.code {
  .border-radius;
  background: @border-color;
  font-size: .9em;
  color: @code-color;
}
.transition-left { 
  -webkit-transition: left .5s ;
  -moz-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;
}
.video{
  background: @light-color;
  border: 1px solid @dark-border-color;
  margin: 15px 0;
}
.notify-normal{
  background: @light-gray-color;
  padding: @gutter @gutter*2;
  margin: @gutter 0;
  position: relative;
  border-left: 15px solid @dark-border-color;
  border-right: 2px solid @dark-border-color;
  > p{
    margin-bottom: 0px;
  }
}
.notify-warning{
  .notify-normal;
  border-left: 15px solid @warning-color;
  border-right: 2px solid @warning-color;
  background: lighten(@warning-color, 50%);
  margin: @gutter @gutter*2;
  > h3 {
    margin: 0;
    margin-bottom: @gutter;
    color: @warning-color;
    border-bottom: 1px solid lighten(@warning-color, 40%);
  }
}
