 //Search
.search-bar {
	background: @code-color;
	padding: @gutter @gutter*2;
	height: 48px;
	cursor:pointer;

	.search-wrap{
		display: flex;

		.search-icon{
			display: block;
			height: 1em;
			width: 1em;
			font-size: 1em;
			cursor: pointer;
			background-image: url(img/icon-search-white.svg);
			background-size: cover;
			background-repeat: no-repeat;
		}
		.search-icon-cancel{
			display: block;
			position: relative;
			height: 1em;
			width: 1em;
			font-size: .8em;
			top: 0.125em;
			cursor: pointer;
			background-color: @code-color;
			background-image: url(img/icon-x-white.svg);
			background-size: cover;
			background-repeat: no-repeat;
			display:none;
		}

		.search{
			transition: width 0.4s ease;
			background: @code-color;
			color: #ffffff;
			border: none;
			padding: 0 .5em;
			position: relative;
			bottom: 0.125em;
			flex: 1;
			.placeholder(@gray);
			&:focus{
				outline:none;
			}
		}

		&.has-value .search-icon-cancel{
			display:block;
		}
	}
}

.bottom-left{
	//Search Results
	.search-results-container{
		display:none;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background: #fff;
		left: 0;
		overflow-y: auto;
		padding: 2em 0;
		z-index: 1;
		.search-cancel{
			color: @code-color;
			display: block;
			font-weight: bold;
			padding: .5em;
			font-size: 1em;
			line-height: 1;
		}

		ul{
			padding:0;
			> li{
				padding: .9em .5em;
				border-bottom: 1px solid @light-gray-color;
				a{
					color: @link-color;
					padding-bottom:0;
				}
				.name{
					line-height: 1;
					font-size: .75em;
					font-weight: bold;
					font-style: italic;
					display: inline-block;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.result-description{
					font-size: .85em;
					// white-space: nowrap;
					// text-overflow: ellipsis;
					// overflow: hidden;
					width: 100%;
					display:block;
					color: @gray;
					margin-top: .3em;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				&:hover,
				&.keyboard-active{
					background-color: @light-gray-color;
					cursor:pointer;
				}
			}
		}

		.search-results-heading{
			padding:0 .5em;
			border-bottom: 1px solid @light-gray-color;
			padding-bottom: 1em;
			.count{
				font-weight:bold;
			}
			.description{
				margin:0;
				text-align: center;
				color: @gray;
			}
			.key{
				margin: .5em 0;
				text-align: center;
			}
		}
	}
	&.search-active{
		overflow-y:hidden;
		position:relative;
	}
}
