 //Search
.search-bar {
	// background: @code-color;
	height: @breadcrumb-height;
	padding: 0 @gutter*2 @gutter;
	cursor:pointer;

	.search-wrap{
		display: flex;
		position: relative;
		top: 1px;
		padding: 10px;
		background: #FFFFFF;
		box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.20);
		border-radius: 20px;

		.search-icon{
			display: block;
			height: 1em;
			width: 1em;
			font-size: 1em;
			cursor: pointer;
			background-image: url(img/icon-search-black.svg);
			background-size: cover;
			background-repeat: no-repeat;
		}
		.search-icon-cancel{
			position: relative;
			height: 1em;
			width: 1em;
			font-size: .8em;
			top: 0.125em;
			cursor: pointer;
			// background-color: @code-color;
			background-image: url(img/icon-x-black.svg);
			background-size: cover;
			background-repeat: no-repeat;
			display:none;
		}

		.search{
			transition: width @transition-speed ease;
			// background: @code-color;
			color: #000000;
			border: none;
			padding: 0 .5em;
			flex: 1;
			.placeholder(@gray);
			&:focus{
				outline:none;
			}
		}

		&.has-value .search-icon-cancel{
			display:block;
		}
	}
}

// Desktop styles for search
@media screen and (min-width: @breakpoint) {
	#everything:not(.header-is-hidden) #left > .bottom .search-results-container {
		height: calc(~"100vh - @{brand-height} - @{breadcrumb-height}");
		top: @brand-height + @breadcrumb-height;
	}
}

#left > .bottom {
	//Search Results
	.search-results-container{
		display:none;
		height: calc(~"100vh - @{breadcrumb-height}");
		position: absolute;
		top: @breadcrumb-height;
		width: 100%;
		background: #fff;
		left: 0;
		overflow-y: auto;
		transition: all @transition-speed ease;
		transition-property: -webkit-backdrop-filter, backdrop-filter, background;

		.search-cancel{
			color: @code-color;
			display: block;
			font-weight: bold;
			padding: .5em;
			font-size: 1em;
			line-height: 1;
		}

		ul{
			padding:0;
			> li{
				border-bottom: 1px solid @light-gray-color;
				a{
					display: inline;
					&:hover {
						text-decoration: none;
					}
				}
				> a {
					display: block;
					padding: .9em .5em;
				}
				.name{
					line-height: 1;
					font-size: .75em;
					font-weight: bold;
					font-style: italic;
					display: inline-block;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.result-description{
					font-size: .85em;
					// white-space: nowrap;
					// text-overflow: ellipsis;
					// overflow: hidden;
					width: 100%;
					display:block;
					color: @gray;
					margin-top: .3em;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				code {
					background-color: inherit;
				}
				&:hover,
				&.keyboard-active{
					background-color: @light-gray-color;
					cursor:pointer;
				}
			}
		}

		.search-results-heading{
			border-bottom: 1px solid @light-gray-color;
			padding: 1em .5em;
			.count{
				font-weight:bold;
			}
			.description{
				margin:0;
				text-align: center;
				color: @gray;
			}
			.key{
				margin: .5em 0;
				text-align: center;
			}
		}
	}
}

@supports (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) {
	#left > .bottom .search-results-container {
		-webkit-backdrop-filter: @backdrop-blur;
		-webkit-font-smoothing: subpixel-antialiased;
		backdrop-filter: @backdrop-blur;
		background: rgba(100%, 100%, 100%, .65);
	}
}
