.sidebar {
  min-width: 200px; 
  
  ul {
    padding-left: @gutter/1.5;
    margin: 0;
    margin-bottom: @gutter;
    list-style: none;
    
    li {
      position: relative;
      
      a {
        display: block;
        padding-top: 3px;
        padding-bottom: 3px;
      }
      span {
        color: #555;
        font-size: 90%;
      }
    }
  }
  .current > a, .expanded > a {
    font-weight: bold;
    color: darken(@link-color,5%);
  }
  .current > a {
    text-decoration: underline;
    color: darken(@link-color,10%);
  }

  // Highest parent level
  > ul {
    padding-left: 0;
    
    > li {
      list-style: none;
      list-style-type: none;
      padding: 0;
      .border-bottom;
      
      > a {
        font-size: 110%;
        padding-bottom: @gutter;
        padding-top: @gutter;
      }
      &.expanded > a {
        padding-bottom: @gutter/3;
      }
      // Second level
        > ul {
          > li {
            > a {
              padding-bottom: @gutter/3;
              padding-top: @gutter/3;
            }
            &.expanded {
              border-left: 1px solid @border-color;
              
              > a {
                padding-bottom: @gutter/2;
                margin-left: -1px;
                background: #fff;
              }
            }
             //Third level
            > ul {
                li {
                  ul {
                   margin-top: @gutter/3;
                 }
               }
             }
          }
        }
    }
  }
}
