// ----- SOCIAL BUTTONS FOR MOBILE VIEW -----
ul.social-side{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex ;
	@media screen and (min-width: @breakpoint){
		display: none;
	}
	> li{
		display: inline-block;
		margin: 0 @gutter/2 @gutter/2 0;
		border-bottom: none;
		text-align: center;
		width: 79px;
		> a.header-mobile{
			font-weight: 700;
			font-size: 12px;
			padding-top: 10px;
			padding-bottom: 10px;
			text-transform: sentence-case;
			.border-radius;
			border: 1px solid lighten(@link-color, 40%);
			text-decoration: none;
			background: white;
			&:hover {
				border: 1px solid lighten(@link-color, 40%);
				text-decoration: none;
				background: @border-color;
			}
		}
		> a.twitter{
			background: @twitter-color;
			border: 1px solid darken(@twitter-color, 5%);
			color: white;
			&:hover {
				background: darken(@twitter-color, 10%);
				border: 1px solid darken(@twitter-color, 15%);
			}
		}
		> a.github{
			background: @light-gray-color;
			color: @gray;
		}
	}
}
img.social-icon-small{
	width: 15px;
	margin-right: 4px;
	vertical-align: middle;
}

// ----- SIDE NAVIGATION -----
@media screen and (min-width: @breakpoint){
	[data-current-page="canjs"], [data-current-page="community"] {
		#left {
			display: none;
		}
	}
}
#left {
	scroll-behavior: smooth;

	ul {
		padding-left: 0;
		margin: 0;
		margin-bottom: @gutter;
		list-style: none;
		li {
			position: relative;
			a {
				display: block;
				padding-top: @gutter/5;
				padding-bottom: @gutter/5;
			}
			span {
				color: @gray;
				font-size: 90%;
			}
			&.collection-group > a {
				color: lighten(@gray, 15%);
			}
		}
		ul {
			padding-left: 5px;
		}
	}
	.current > a, .expanded > a, [selected-in-sidebar] > a {
		font-weight: bold;
		color: darken(@link-color,5%);
	}
	.current > a, [selected-in-sidebar] > a {
		text-decoration: underline;
		color: darken(@link-color,10%);
	}
	// Highest parent level
	.nav-menu {
		display: block;
		padding: @gutter * 2 @gutter * 2 0;
		margin-bottom: @gutter*2;
		& > ul {
			padding: 0;
			height: inherit;
			> li {
				list-style: none;
				list-style-type: none;
				padding: 0;
				.border-bottom;
				@media screen and (min-width: @breakpoint){
					border-bottom: none;
				}
				&:not(.expanded) {
					@media screen and (min-width: @breakpoint){
						display: none;
					}
				}
				> a {
					font-size: 110%;
					padding-bottom: @gutter;
					padding-top: @gutter;
				}
				&.expanded.parent > a {
					padding-bottom: @gutter/2;
				}
				&.expanded > a {
					@media screen and (min-width: @breakpoint){
						display: none;
					}
				}
				// Second level
				> ul {
					> li {
						> a {
							padding-bottom: @gutter/3;
							padding-top: @gutter/3;
						}
						&.expanded {
							> a {
								padding-bottom: @gutter/2;
								margin-left: -1px;
							}
						}
						//Third level
						> ul {
							border-left: 1px solid @border-color;
							li {
								ul {
									margin-top: @gutter/3;
								}
							}
						}
					}
				}
			}
		}
	}

	canjs-sidebar {
		button {
			background: transparent;
			border: 0;
			color: @link-color;
			cursor: pointer;
			padding: 0;
			position: absolute;
			right: 0 - @gutter;
			top: 0;
		}
		button > span {
			font-family: monospace;// makes the + / - buttons the same width
			font-size: 130%;
			padding: (@gutter * .25) @gutter (@gutter * .6);
		}
		button:focus, button > span:focus {
			outline: 0;
		}
		button:focus > span {
			border-radius: 5px;
			box-shadow: 0 0 5px @link-color;
		}

		.collection-group {
			font-size: 80%;
			margin-top: @gutter * 1.2;
			text-transform: uppercase;
		}

		.collection-group,
		.collection-group > a,
		.parent-is-collapsible,
		.parent-is-collapsible > a {
			display: block;
			opacity: 1;
		}
		.transitions-on .collection-group,
		.transitions-on .collection-group > a,
		.transitions-on .parent-is-collapsible,
		.transitions-on .parent-is-collapsible > a {
			transition: all @transition-speed ease;
		}
		.collection-group > a {
			height: 20px;
		}
		.parent-is-collapsible > a {
			height: 24px;
			max-width: 215px;// based roughly on the width of “can-define-validate-validatejs”
			white-space: nowrap;
		}
		.unanimated, .unanimated > a, .unanimated > span {
			margin-bottom: 0;
			margin-top: 0;
			opacity: 0;
			padding-bottom: 0;
			padding-top: 0;
		}
		.unanimated > a, .unanimated > span {
			height: 0;
			max-width: 175px;// based roughly on the width of “can-stache/helpers/route”
		}

		.is-collapsible {
			margin-bottom: @gutter;// Force space between the “purpose” groups
		}
	}
}
