// ----- SOCIAL BUTTONS FOR MOBILE VIEW -----
.social-side-container {
	margin: @gutter*1.5 0;
}
ul.social-side {
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex ;
	@media screen and (min-width: @breakpoint) {
		display: none;
	}
	> li {
		margin: 0 @gutter/2 @gutter/2 0;
		border-bottom: none;
		text-align: center;
		width: 100%;
		&:last-child {
			margin-right: 0;
		}
		> a.header-mobile {
			font-weight: 700;
			font-size: 12px;
			text-transform: capitalize;
			.border-radius;
			border: 1px solid lighten(@link-color, 40%);
			text-decoration: none;
			background: white;
			width: 100%;
			&:hover {
				border: 1px solid lighten(@link-color, 40%);
				text-decoration: none;
				background: @border-color;
			}
		}
		> a.twitter {
			background: @twitter-color;
			border: 1px solid darken(@twitter-color, 5%);
			color: white;
			&:hover {
				background: darken(@twitter-color, 10%);
				border: 1px solid darken(@twitter-color, 15%);
			}
		}
		> a.github {
			background: @light-gray-color;
			color: @gray;
		}
	}
}
img.social-icon-small {
	width: 15px;
	margin-right: 4px;
	vertical-align: middle;
}

// ----- SIDE NAVIGATION -----
@media screen and (min-width: @breakpoint) {
	[data-current-page="canjs"], [data-current-page="community"] {
		#left {
			display: none;
		}
	}
}
#left {
	.nav-menu {
		display: block;
		padding: @gutter @gutter*2 @gutter*2;
		ul {
			// first
			padding: 0;
			margin: 0;
			list-style: none;
			line-height: @list-line-height;
			li {
				position: relative;
				a {
					display: block;
					white-space: nowrap;
				}
				span {
					color: @gray;
				}
				&.collection-group {
					a {
						color: lighten(@gray, 15%);
						margin: 10px 0 0;
						letter-spacing: 1px;
						font-size: 11px;
					}
				}
				ul {
					// second
					margin-bottom: @gutter;
					padding: 0;
					li {
						&.is-collapsible span + ul {
							padding-left: 0;
							margin-top: -5px;
							ul {
								margin-top: 0;
							}
						}
						&.can-infrastructure span + ul {
							margin-top: unset;
						}
						span {
							font-size: 12px;
							letter-spacing: 1px;
							font-weight: bold;
							text-transform: uppercase;
							& + [aria-pressed="true"] + ul {
								margin-top: -10px;
							}
						}
						a {
							line-height: @list-line-height;
							& + ul {
								padding-left: 5px;
							}
						}
						button {
							background: transparent;
							border: 0;
							color: @link-color;
							cursor: pointer;
							padding: 0;
							position: absolute;
							right: 0 - @gutter;
							top: -(@gutter * .5) + 1;
							span {
								display: inline-block;
								font-family: monospace;// makes the + / - buttons the same width
								font-size: 150%;
								padding: (@gutter * .5) @gutter (@gutter * .6);
							}
							&:focus, span:focus {
								outline: 0;
							}
							&:focus span {
								border-radius: 5px;
								box-shadow: 0 0 5px @link-color;
							}
						}
						ul li ul li {
							// third forth
							padding-left: 0;
							span {
								font-weight: normal;
								display: inline-flex;
								text-transform: none;
								font-weight: bold;
							}
							ul {
								margin-bottom: 5px;
								li {
									// fifth
									line-height: @list-line-height;
									padding-left: 0;
									span {
										font-weight: normal;
									}
									ul {
										// sixth
										li {
											padding-left: 5px;
											ul {
												// seventh
												li {
													padding-left: 0;
												}
											}
										}
									}
								}
							}
						}
						&.expanded.parent ul {
							padding-left: 5px;
							ul {
								padding-left: 0;
								li {
									padding-left: 0;
									ul {
										padding-left: 5px;
										ul {
											padding-left: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: @breakpoint) {
			& > ul > li.expanded.parent > ul {
				padding-left: 5px;
				// targets just the top level's subgroup to indent on mobile
			}
		}
		.collection-group {
			text-transform: uppercase;
		}

		.collection-group,
		.collection-group > a,
		.parent-is-collapsible,
		.parent-is-collapsible > a {
			display: block;
			opacity: 1;
		}
		.transitions-on .collection-group,
		.transitions-on .collection-group > a,
		.transitions-on .parent-is-collapsible,
		.transitions-on .parent-is-collapsible > a {
			transition: all @transition-speed ease;
		}
		.collection-group > a {
			height: @list-line-height;
		}
		.parent-is-collapsible > a {
			height: @list-line-height;
			max-width: 215px;// based roughly on the width of “can-define-validate-validatejs”
			white-space: nowrap;
		}
		.unanimated, .unanimated > a, .unanimated > span {
			margin-bottom: 0;
			margin-top: 0;
			opacity: 0;
			padding-bottom: 0;
			padding-top: 0;
		}
		.unanimated > a, .unanimated > span {
			height: 0;
			max-width: 175px;// based roughly on the width of “can-stache/helpers/route”
		}

		.is-collapsible {
			margin-bottom: @gutter;// Force space between the “purpose” groups
		}
	}
	.current > a, .expanded > a, [selected-in-sidebar] > a {
		font-weight: bold;
		color: darken(@link-color,5%);
	}
	.current > a, [selected-in-sidebar] > a {
		text-decoration: underline;
		color: darken(@link-color,10%);
	}
	// Hides nav structure for pages outside of current page on desktop
	@media screen and (min-width: @breakpoint) {
		.nav-menu {
			& > ul {
				> li {
					&.expanded > a {
						display: none;
					}
					&:not(.expanded) {
							display: none;
					}
				}
			}
		}
	}
		// Hides nav structure for pages outside of current page on desktop
		@media screen and (max-width: @breakpoint) {
			.nav-menu {
				> ul {
					> li {
						> a {
							margin-top: @gutter;
						}
					}
				}
			}
		}
}
// Mobile sidebar By Bitovi logo
.by-bitovi-container {
	width: 140px;
	height: 30px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.bitovi.by-bitovi {
	width: 100%;
	height: 100%;
	background: url(img/by-bitovi-logo.svg) no-repeat;
	background-position: center;
	background-size: contain;
	color: rgba(0, 0, 0, 0);
}
