ul.title-social{
	float: right;
	margin-top: -47px;
  line-height: 1.6;
	margin-bottom: @gutter;
	list-style-type: disc;
	display: none;

	@media screen and (min-width: @breakpoint) {
		display: unset;
  }
  
	> li{
		list-style: none;
		display: inline-block;
		vertical-align: top;
		iframe {
	    top: 1px;
      position: relative;
      margin-left: 5px;
  	}
	}

	code {
    background: white;
    border: 1px solid @gray;
    font-size: 14px;
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: top; 
    @media screen and (min-width: @breakpoint) {
      margin-left: @gutter;
    }
	}
}

h1{
	font-size: 45px;
	color: #4B5057;
	border: none;
	margin-top:0px;
	margin-bottom: 0px;
}

h2{ 
	font-size: 30px;
	color: lighten(@link-color, 10%);
	margin-top: @gutter*2;

	code{
		color: lighten(@link-color, 5%) !important;
	}
 }

 h3{
 	color: darken(@link-color, 10%);
	margin-top: @gutter*2;
 }

.title{
	padding-top: @gutter*2;
	padding-left: @gutter*2;
	padding-right: @gutter*2;
}
