@import url('https://fonts.googleapis.com/css?family=Lato');
/*----- COLORS -----*/
@link-color: #4078c0;
@gray: #4b5057;
@light-gray-color: #f4f4f4;
@code-color: darken(@gray, 20%);
@warning-color: #d14;
@highlight-color: #e5f6e5;
@border-color: #eee;
@dark-border-color: #ccc;
@light-color: #fbfbfb;
@twitter-color: #1da1f2;

/*----- LAYOUT -----*/
@brand-height: 53px;
@breakpoint: 1000px;
@gutter: 15px;
@sidebar-width: 274px;
@transition-speed: .25s;

/*----- TYPE -----*/
@font-weight-heading: 500;

/*----- OTHER -----*/
@backdrop-blur: saturate(180%) blur(20px);
