@link-color: #4078c0;
@border-color: #eee;
@logo-color: green;
@code-color: black;
@warning-color: #d14;
@gray: #999;

@gutter: 15px;
@breakpoint: 700px;
@sidebar-width: 200px;
@border: 1px solid @border-color;
@rain: #4078c0;
@darkSkies: #484848;
@clear: white;