<div class="main-container">
  {{#unless hideSidebar}}
  	{{> sidebar.mustache}}
  {{/unless}}

  <div class="content-container">
 <!--  <div class="breadcrumb"><a>CanJS</a> / <a>Core</a> / <a>can-connect</a> / <a>On this page</a></div> -->
    <article>
    	{{#unless hideTitle}}
    		{{> title.mustache}}
    	{{/unless}}

      <!-- <ul class="on-this-page">
      </ul> -->

        {{#if deprecated.length}}
			<section class='warnings'>
				{{#deprecated}}
					<div class='deprecated warning'>
						<h3>Deprecated {{version}}</h3>
						<div class='signature-wrapper'>
							{{{makeHtml (makeLinks description)}}}
						</div>
					</div>
				{{/deprecated}}
			</section>
		{{/if}}

    	{{#unless hideDescription}}
    		{{#if description}}
    			{{> description.mustache}}
    		{{/if}}
    	{{/unless}}

    {{#unless hideBody}}
    {{#if signatures}}
    {{#each signatures}}
    {{> signature.mustache}}
    {{/each}}
    {{else}}
    {{#types}}
    {{> signature.mustache}}
    {{/types}}
    {{/if}}
    {{/unless}}


    	{{#unless hideBody}}
    		{{#if body}}
    			{{> body.mustache}}
    		{{/if}}
    	{{/unless}}

    </article>
  </div>
</div>
