<nav class="navbar">
    
    <ul class="navbar-items">
      <li class="header-desktop">
        <a href="https://gitter.im/canjs/canjs">Chat</a>
      </li>
      <li class="header-desktop">
        <a href="http://forums.donejs.com/c/canjs">Forum</a>
      </li>
      <li class="header-desktop">
        <a class="github-button nav-social" href="https://github.com/canjs/canjs" data-count-href="/canjs/canjs/stargazers" data-count-api="/repos/canjs/canjs#stargazers_count">Star</a>
      </li>
      <li class="header-desktop">
          <a href="https://twitter.com/canjs" class="twitter-follow-button nav-social" data-show-count="true" data-show-screen-name="false">Follow @canjs</a>
      </li>
    </ul>

</nav>