<nav class="navbar">
	<a class="brand" href="{{urlTo 'canjs'}}">CanJS</a>
	<ul class="bitovi-menu">
		<li class="dropdown">
			<a href="http://bitovi.com" class="bitovi icon-bits">Bitovi</a>
			<ul class="dropdown-menu">
				<li><a href="http://bitovi.com">Bitovi.com</a></li>
				<li><a href="http://bitovi.com/blog/">Blog</a></li>
				<li><a href="http://bitovi.com/consulting/">Consulting</a></li>
				<li><a href="http://bitovi.com/training/">Training</a></li>
				<li><a href="http://bitovi.com/open-source/">Open Source</a></li>
			</ul>
		</li>
	</ul>
	<ul class="navbar-items">
		<li class="header-desktop">
			<a class="github-button nav-social" href="https://github.com/canjs/canjs" data-count-href="/canjs/canjs/stargazers" data-count-api="/repos/canjs/canjs#stargazers_count">Star</a>
		</li>
		<li class="header-desktop">
    		<a href="https://twitter.com/canjs" class="twitter-follow-button nav-social" data-show-count="true" data-show-screen-name="false">Follow @canjs</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</li>
		<li>
			<a href="https://gitter.im/canjs/canjs">Chat</a>
		</li>
		<li>
			<a href="http://forums.donejs.com/c/canjs">Forum</a>
		</li>
	</ul>
</nav>
