{{#if children.length}}
	<ul>
		{{#each (customSort children)}}
			{{^if docObject.hide}}
				{{#if (isGroup docObject)}}
					<li>
						<span>{{getShortTitle docObject}}</span>
						{{> menu.mustache}}
					</li>
				{{else}}
					<li class="{{#if (isCurrent docObject)}}current{{/if}}
           						{{#children.length}}parent{{/children.length}}
           						{{#if (hasCurrent docObject)}}expanded{{/if}}">
						<a class="{{docObject.type}}"
							href="{{urlTo docObject.name}}"
							title="{{getLinkTitle docObject}}">
							{{getShortTitle docObject}}
						</a>
						{{> menu.mustache}}
					</li>
				{{/if}}
			{{/if}}
		{{/each}}
	</ul>
{{/if}}
