<div class="search-bar">
	<div class="search-wrap" style="display:none;">
		<span class="search-icon"></span>
		<span class="search-icon-cancel"></span>
		<input type="text" class="search" placeholder="Search - [ctrl + k]" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" />
	</div>
</div>
