<nav class="sidebar">
	<ul class="social-side">
		<li>
			<a class="github-button nav-social" href="https://github.com/canjs/canjs">Star</a>
		</li>
		<li>
			<a href="https://twitter.com/canjs" class="twitter-follow-button nav-social" data-show-count="false" data-show-screen-name="false">Follow @canjs</a>
		</li>
	</ul>
	<ul class="social-side">

		<li>
			<a class="header-mobile" href="https://gitter.im/canjs/canjs">Chat</a>
		</li>
		<li>
			<a class="header-mobile" href="http://forums.donejs.com/c/canjs">Forum</a>
		</li>
		
	</ul>
    {{#with (getCurrentTree)}}
        {{>menu.mustache}}
    {{/with}}
</nav>

