<nav class="sidebar">
	<ul class="social-side">
		<li>
			<a class="github-button nav-social" href="https://github.com/canjs/canjs" data-count-href="/canjs/canjs/stargazers" data-count-api="/repos/canjs/canjs#stargazers_count">Star</a>
		</li>
		<li>
			<a class="github-button nav-social" href="https://github.com/canjs/canjs" data-count-href="/canjs/canjs/stargazers" data-count-api="/repos/canjs/canjs#stargazers_count">Star</a>
		</li>
		
	</ul>
    {{#with (getCurrentTree)}}
        {{>menu.mustache}}
    {{/with}}
</nav>

