<nav class="sidebar">
    {{#with (getCurrentTree)}}
        {{>menu.mustache}}
    {{/with}}
</nav>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger">Menu</label>