<div class="signature">
  <h2 class="signature-title">
    <code>{{{makeSignature code}}}</code>
  </h2>
  {{{makeHtml (makeLinks description)}}}
  {{#if params}}
  <div class="parameters">
    <h3 class="parameters-title">Parameters</h3>
      <ol>
        {{#params}}
          <li>{{{makeParams}}}: {{{makeHtml (makeLinks description)}}}</li>
        {{/params}}
      </ol>
  </div>
  {{/if}}
  {{#returns}}
  <div class="returns">
    <h3 class="returns-title">Returns</h3>
     <p>{{{makeReturn}}}: {{{makeHtml (makeLinks description)}}}</p>
  </div>
  {{/returns}}
  {{#if options.length}}
  <div class="options">
  <h3 class="options-title">Options</h3>
    <ul>
    {{#options}}
      <li>
        <b>{{name}}</b> {{#if types}}<code>{{{makeTypesString types}}}</code>{{/if}}:
        {{{makeHtml (makeLinks description)}}}
      </li>
    {{/options}}
    </ul>
  </div>
  {{/if}}
</div>