<div class="signature">
  <h2 class="signature-title"><code>{{{makeSignature code}}}</code></h2>
  {{{makeHtml (makeLinks description)}}}
  
  {{#if params}}
  <div class="parameters">
    <h3 class="parameters-title">Parameters</h3>
      <ol>
        {{#params}}
          <li>{{{makeParams}}}: {{{makeHtml (makeLinks description)}}}</li>
        {{/params}}
      </ol>
  </div>
  {{/if}}
  
  {{#returns}}
  <ul>
      <li><b>returns</b> {{{makeReturn}}}: {{{makeHtml (makeLinks description)}}} </li>
  </ul>
  {{/returns}}
  
  {{#if options.length}}
  <div class="options">
  <h3>Options</h3>
    <ul>
    {{#options}}
      <li>
        <b>{{name}}</b> {{#if types}}<code>{{{makeTypesString types}}}</code>{{/if}}:
        {{{makeHtml (makeLinks description)}}}
      </li>
    {{/options}}
    </ul>
  </div>
  {{/if}}
</div>