<section class="title">
	<h1>{{getTitle .}}</h1>
	<ul class="title-links">
		<li><a href="#">docco</a></li>
		<li><a href="#">source</a></li>
		<li><a href="#">download</a></li>
		<li><a href="#">tests</a></li>
	</ul>
	<ul class="title-social">
		<li>
			<code>npm install can-compute --save</code>
		</li>
		<li>
    	<a class="github-button nav-social" href="https://github.com/canjs/canjs" data-count-href="/canjs/canjs/stargazers" data-count-api="/repos/canjs/canjs#stargazers_count">Star</a>
  		</li>
	</ul>
	
</section>
