<section class="title">
	<div class="page-type">
		<h1>{{getTitle .}}</h1>
			<ul class="title-social">
				{{#if package}}
				<li>
					<a class="npm-button" href="https://www.npmjs.com/package/{{package.name}}">
						<img src="{{badgeLink package.version}}" alt="npm package badge" />
					</a>
				</li>
				<li>
					<a class="github-button nav-social" href="https://github.com/canjs/{{repoName src.path}}" data-show-count="true">Star</a>
				</li>
				{{/if}}
				{{#if src.path}}
				<li>
					<a class="button-link" href="{{sourceLink src (repoName src.path)}}">Edit on GitHub</a>
				</li>
				{{/if}}
			</ul>
	</div>
	<div class="clear-both"></div>
	{{#unless hideDescription}}
  {{#if description}}
	{{> description.mustache}}
  {{/if}}
	{{/unless}}
</section>
<section class="on-this-page-table">
	<!--<h2 class="on-this-page-title" data-skip>Page Content</h2>-->
</section>
